header {
    background-color: var(--bg-white);
    padding: 5px 30px;
    width: 100%;
    height: 70px;
    max-width: 1800px;
    margin: 0 auto;

    display: flex;
    justify-content:space-between;
    align-items: center;
}

header img {
    width: 6rem;
}

header div {
    display: flex;
    gap: 20px
}

.link_register {
    color: var(--font-purple);
    font-weight: 600;
    font-size: 1rem;
    border: 1px solid var(--bg-purple);
    border-radius: 5px;
    padding: 5px;
    transition: 0.5s;
}

.link_register:hover {
    background-color: var(--bg-purple);
    color: var(--font-white);
}

.link_login {
    color: var(--font-purple);
    font-weight: 600;
    font-size: 1rem;
    padding: 5px;
    transition: 0.5s;
}

.link_login:hover {
    color: var(--font-purple-hover);
}

.layout {
    background-color: var(--bg-purple);
    height: calc(100vh - 70px);
    width: 100%;
}

.layout > div {
    width: 100%;
    max-width: 1800px;
    height: calc(100vh - 70px);
    margin: 0 auto;
    padding: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}

.layout > div div {
    width: 50%;
}

.layout > div div:last-child img {
    width: 100%;
}

.layout div h1 {
    color: var(--font-white);
    font-size: clamp(0.5em, 1em + 2.5vw, 4em);
}

.layout p {
    color: var(--font-white);
    margin: 10px 0;
    font-size: 1.2rem;
}

.layout a {
    padding: 10px;
    border: 1px solid var(--bg-white);
    border-radius: 5px;
    color: var(--font-white);
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    margin-top: 30px;
    transition: 0.4s;
}

.layout a:hover {
    color: var(--font-purple);
    background-color: var(--bg-white);
}

@media (max-width: 900px) {
    .layout > div div:last-child {
        display: none;
    }

    .layout > div {
        justify-content: start;
    }

    .layout > div div:first-child {
        width: 100%;
    }
}

@media (max-width: 330px) {
    header {
        height: 50px;
    }

    header img {
        width: 4rem;
    }

    .layout {
        height: calc(100vh - 50px);
    }

    .layout > div {
        height: calc(100vh - 50px);
    }
}