<section>
    <header>
        <img src="../../../assets/img/logo.png" alt="Logo">

        <div>
            <a class="link_register" href="#">Registrar</a>
            <a class="link_login" href="#">Login</a>
        </div>
    </header>

    <div class="layout">
        <div>
            <div>
                <h1>Crie notas facilmente e acesse quando quiser na nuvem</h1>
    
                <p>Fique a vontade, aqui é o local perfeito para armazenar suas anotações.</p>
    
                <p>Não possui uma conta? registre-se agora comece a utilizar o notes</p>
    
                <a href="#">Registre-se grátis</a>
            </div>
    
            <div>
                <img src="../../../assets/img/presentation.png" alt="Apresentação do sistema">
            </div>
        </div>
    </div>
</section>